{% extends 'base.html' %}

{% load static %}

{% block style %}{% endblock style %}

{% block content %}

    <h1>Создание дома</h1>
    
    <hr>

    {% if alert %}
        <p style="color: red; margin-bottom: 30px; font-size: large;">
            {{alert}}
        </p>
    {% endif %}

    <div> 
        <form action="{% url 'create_a_house' %}" method="post">
            {% csrf_token %}
            
            <p>Название вашей недвижимости</p>
            <input name="heading" type="text" required>

            <p>Город</p>
            <input name="city" type="text">

            <p>Улица</p>
            <input name="street" type="text">

            <p>Номер дома</p>
            <input name="house_number" type="number">

            <p>Номер квартиры</p>
            <input name="apartment_number" type="number">

            <p>Широта</p>
            <input name="latitude" type="number" min="-90" max="90">

            <p>Долгота</p>
            <input name="longitude" type="number" min="-180" max="180">

            <p>Этажность</p>
            <input name="floor" type="number">

            <p>Количество комнат</p>
            <input name="number_of_rooms" type="number">

            <p>Площадь</p>
            <input name="square"  type="number">

            <p>Тип</p>
            <input name="type" type="text" value="house">

            <button type="submit">Создать</button>
        </form>
    </div>
 

{% endblock %}