{% extends 'base.html' %}

{% load static %}

{% block style %}<link type="text/css" rel="stylesheet" href="{% static 'mainapp/css/home.css' %}">{% endblock style %}

{% block content %}

    <h2 class="heading__home">Главная страница</h2>

    {% if alert %}
        <p style="color: red; margin-bottom: 30px; font-size: large;">
            {{alert}}
        </p>
    {% endif %}

    <div class="search__home"> 
        <form method="post" action="{% url 'home' %}">
            {% csrf_token %}

            <input type="text" name="query" placeholder="Искать ФИО" >

            <button name="action" value="search_fio" type="submit" class="btn_home">Искать</button>
        </form>
    </div>
 
    {% for user in users %}
        {{user}}
    {% empty %}
        <p>Результаты не найдены</p>
    {% endfor %}

    <hr>

    <div class="search__home"> 
        <form method="post" action="{% url 'home' %}">
            {% csrf_token %}

            <input type="text" name="search_real_state" placeholder="Искать недвижимость" >

            <button name="action" value="search_real_estate" type="submit" class="btn_home">Искать</button>
        </form>
    </div>
 
    {% for real_estate in real_estates %}
        {{real_estate}}
    {% empty %}
        <p>Результаты не найдены</p>
    {% endfor %}

    <hr>
    <!-- тип и адрес(город) -->
    <select name="type_select" id="type_select"> 
        <option value="apartment" style="display: none;">Квартира</option>
        <option value="apartment">Квартира</option>
        <option value="house">Дом</option>
        <option value="land">Земля</option>
    </select>


    <select name="city_select" id="city_select"> 
        <option value="Москва"  style="display: none;">Москва</option>
        <option value="Москва">Москва</option>
        <option value="Дмитров">Дмитров</option>
        <option value="Минск">Минск</option>
    </select>
    <p id="status" style="display: none;">{{selected_city}}</p>
    {% if selected_city %}
        <select name="region_select" id="region_select"> 
            {% for region in regions %}
                <option value={{ forloop.counter }} >{{ region.region_name }}</option>
            {% endfor %}
        </select>
    {% endif %}

    <button id="btn_filter">Применить фильтры</button>

    <hr>

    {% for real_estate in all_real_estates %}
        <p>
            {{real_estate.heading}}
        </p>

        <p>
            {{real_estate.city}}
        </p>

        <p>
            {{real_estate.street}}
        </p>

        <hr>
    {% endfor %}

    <script>
        function applyFilters() {
            var typeSelect = document.getElementById('type_select').value;
            var citySelect = document.getElementById('city_select').value;
            a = document.getElementById('status').textContent
            console.log("document.getElementById('status').textContent",a)
            if (document.getElementById('status').textContent != ""){
                var regionSelect = document.getElementById('region_select').value;
            }                

            var queryParams = [];
        
            if (typeSelect) {
                queryParams.push('type=' + typeSelect);
            }
        
            if (citySelect) {
                queryParams.push('city=' + citySelect);
            }

            if (regionSelect) {
                queryParams.push('region=' + regionSelect);
            }

            var queryString = queryParams.join('&');
            var newURL = window.location.pathname + '?' + queryString;
        
            window.location.href = newURL;
        }
        

        document.getElementById('btn_filter').addEventListener('click', applyFilters);

    </script>

{% endblock %}