{% extends 'base.html' %}

{% load static %}

{% block style %}<link type="text/css" rel="stylesheet" href="{% static 'mainapp/css/home.css' %}">{% endblock style %}

{% block content %}

    <h2 class="heading__home">Домашняя страница</h2>

    <div class="search__home"> 
        <form method="post" action="{% url 'home' %}">
            {% csrf_token %}

            <input type="text" name="query" placeholder="Введите ФИО" >

            <button type="submit" class="btn_home">Искать</button>
        </form>
    </div>
 
    {% for user in users %}
        {{user}}
    {% empty %}
        <p>Результаты не найдены</p>
    {% endfor %}

{% endblock %}