{% extends 'base.html' %}

{% load static %}

{% block style %}<link type="text/css" rel="stylesheet" href="{% static 'mainapp/css/profile.css' %}">{% endblock style %}

{% block content %}

    <h1 class="heading__profile">Страница пользователя</h1>

    <div class="container__profile"> 

        <p>
            Пользователь: {{user}}
        </p>

        {% if user.nickname %}
            <p>
                Ник: {{user.nickname}}
            </p>    
        {% endif %}

        {% if user.last_name %}
            <p>
                Фамилия: {{user.last_name}}
            </p> 
        {% endif %}

        {% if user.first_name %}
            <p>
                Имя: {{user.first_name}}
            </p>
        {% endif %}

        {% if user.middle_name %}
            <p>
                Отчество: {{user.middle_name}}
            </p>
        {% endif %}

        {% if user.email %}
            <p>
                Почта: {{user.email}}
            </p>
        {% endif %}

        {% if user.phone_number %}
            <p>
                Телефон: {{user.phone_number}}
            </p>
        {% endif %}

        {% if user.comission %}
            <p>
                Комиссия: {{user.comission}}
            </p>
        {% endif %}


        <button id="editUserBtn">
            Редактировать аккаунт
        </button>

        <button>
            Удалить аккаунт
        </button>
    </div>

    <!-- Модальное окно для изменения пользователя -->
    <div id="editUserModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <h3 class="admin-home__heading">Редактировать пользователя</h3>
            <hr>
            {% if form.errors %}
                <p>{{form.errors.error}}</p>
            {% endif %}

            <form action="{% url 'profile' %}" method="post" class="userEditForm">
                {{form}}
                {% csrf_token %}

                <p>
                    Пользователь: {{user}}
                </p>

                <input name="editId" type="text" value="{{user.id}}" class="hidden"> 

                {% if user.nickname %}
                    <p>Ник: </p> 
                    <input name="editNickname" type="text" value="{{user.nickname}}"> 
                {% endif %}

                {% if user.last_name %}
                    <p>Фамилия:</p>
                    <input name="editLastName" type="text" value="{{user.last_name}}"> 
                {% endif %}

                {% if user.first_name %}
                    <p>Имя:</p>
                    <input name="editFirstName" type="text" value="{{user.first_name}}"> 
                {% endif %}

                {% if user.middle_name %}
                    <p>Отчество:</p>
                    <input name="editMiddleName" type="text" value="{{user.middle_name}}"> 
                {% endif %}

                {% if user.email %}
                    <p>Почта: </p>
                    <input name="editEmail" type="email" value="{{user.email}}"> 
                {% endif %}

                {% if user.phone_number %}
                    <p>Телефон: </p>
                    <input name="editPhone" type="tel" value="{{user.phone_number}}"> 
                {% endif %}

                {% if user.comission %}
                    <p>Комиссия: </p>
                    <input name="editCommission" type="number" value="{{user.commission}}"> 
                {% endif %}

                <button class="btnSaveUser" type="submit" name="action" value="change_user">Сохранить</button>

            </form>
        </div>
    </div>

    <div>
        <h2 class="heading__profile">Моя недвижимость</h2>

        <ul>
            {% for real_estate in real_estates %}
                <form action="{% url 'profile' %}" method="post">
                    {% csrf_token %}
                    
                    <input name="id" type="text" value="{{real_estate.id}}" style="visibility: hidden;">

                    <input name="heading" type="text" value="{{real_estate.heading}}">

                    {% if real_estate.type %}
                        <p>Тип</p>
                        <input name="type" type="text" value="{{real_estate.type}}">
                    {% endif %}

                    {% if real_estate.city %}
                        <p>Город</p>
                        <input name="city" type="text" value="{{real_estate.city}}">
                    {% endif %}

                    {% if real_estate.street %}
                        <p>Улица</p>
                        <input name="street" type="text" value="{{real_estate.street}}">
                    {% endif %}

                    {% if real_estate.house_number %}
                        <p>Номер дома</p>
                        <input name="house_number" type="text" value="{{real_estate.house_number}}">
                    {% endif %}

                    {% if real_estate.apartment_number %}
                        <p>Номер квартиры</p>
                        <input name="apartment_number" type="text" value="{{real_estate.apartment_number}}">
                    {% endif %}

                    {% if real_estate.latitude %}
                        <p>Широта</p>
                        <input name="latitude" type="text" value="{{real_estate.latitude}}">
                    {% endif %}

                    {% if real_estate.longitude %}
                        <p>Долгота</p>
                        <input name="longitude" type="text" value="{{real_estate.longitude}}">
                    {% endif %}

                    {% if real_estate.floor %}
                        <p>Этаж</p>
                        <input name="floor" type="text" value="{{real_estate.floor}}">
                    {% endif %}

                    {% if real_estate.number_of_floors %}
                        <p>Этажность</p>
                        <input name="number_of_floors" type="text" value="{{real_estate.number_of_floors}}">
                    {% endif %}

                    {% if real_estate.number_of_rooms %}
                        <p>Количество комнат</p>
                        <input name="number_of_rooms" type="text" value="{{real_estate.number_of_rooms}}">
                    {% endif %}

                    {% if real_estate.square %}
                        <p>Площадь</p>
                        <input name="square" type="text" value="{{real_estate.square}}">
                    {% endif %}

                    <button type="submit" name="action" value="change_real_estate">Сохранить изменения</button>
                </form>

                <hr>
            {% empty %}
                <p>недвижимость пока не добавлена</p>
            {% endfor %}
            
        </ul>
    </div>

    <script>
        document.getElementById('editUserBtn').addEventListener('click', function() {
            document.getElementById('editUserModal').style.display = 'block';
        });

        // Закрыть модальное окно
        document.getElementById('closeModal').addEventListener('click', function() {
            document.getElementById('editUserModal').style.display = 'none';
        });

    </script>


{% endblock %}