{% extends 'base.html' %}

{% load static %}

{% block style %}<link type="text/css" rel="stylesheet" href="{% static 'mainapp/css/profile.css' %}">{% endblock style %}

{% block content %}

    <h1 class="heading__profile">Страница пользователя</h1>

    <div class="container__profile"> 

        <p>
            Пользователь: {{user}}
        </p>

        {% if user.nickname %}
            <p>
                Ник: {{user.nickname}}
            </p>    
        {% endif %}

        {% if user.last_name %}
            <p>
                Фамилия: {{user.last_name}}
            </p> 
        {% endif %}

        {% if user.first_name %}
            <p>
                Имя: {{user.first_name}}
            </p>
        {% endif %}

        {% if user.middle_name %}
            <p>
                Отчество: {{user.middle_name}}
            </p>
        {% endif %}

        {% if user.email %}
            <p>
                Почта: {{user.email}}
            </p>
        {% endif %}

        {% if user.phone_number %}
            <p>
                Телефон: {{user.phone_number}}
            </p>
        {% endif %}

        {% if user.comission %}
            <p>
                Комиссия: {{user.comission}}
            </p>
        {% endif %}


        <button id="editUserBtn">
            Редактировать аккаунт
        </button>

        <button>
            Удалить аккаунт
        </button>
    </div>

    <!-- Модальное окно для изменения пользователя -->
    <div id="editUserModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <h3 class="admin-home__heading">Редактировать пользователя</h3>
            <hr>
            {% if form.errors %}
                <p>{{form.errors.error}}</p>
            {% endif %}

            <form action="{% url 'profile' %}" method="post" class="userEditForm">
                {{form}}
                {% csrf_token %}

                <p>
                    Пользователь: {{user}}
                </p>

                <input name="editId" type="text" value="{{user.id}}" class="hidden"> 

                {% if user.nickname %}
                    <p>Ник: </p> 
                    <input name="editNickname" type="text" value="{{user.nickname}}"> 
                {% endif %}

                {% if user.last_name %}
                    <p>Фамилия:</p>
                    <input name="editLastName" type="text" value="{{user.last_name}}"> 
                {% endif %}

                {% if user.first_name %}
                    <p>Имя:</p>
                    <input name="editFirstName" type="text" value="{{user.first_name}}"> 
                {% endif %}

                {% if user.middle_name %}
                    <p>Отчество:</p>
                    <input name="editMiddleName" type="text" value="{{user.middle_name}}"> 
                {% endif %}

                {% if user.email %}
                    <p>Почта: </p>
                    <input name="editEmail" type="email" value="{{user.email}}"> 
                {% endif %}

                {% if user.phone_number %}
                    <p>Телефон: </p>
                    <input name="editPhone" type="tel" value="{{user.phone_number}}"> 
                {% endif %}

                {% if user.comission %}
                    <p>Комиссия: </p>
                    <input name="editCommission" type="number" value="{{user.commission}}"> 
                {% endif %}

                <button class="btnSaveUser" type="submit" name="action" value="change_user">Сохранить</button>

            </form>
        </div>
    </div>


    <div>
        <h2 class="heading__profile">Моя недвижимость</h2>

        <hr>

        <a href="{% url 'create_offer' %}">Создать предложение недвижимости</a>

        <hr>

        <a href="{% url 'create_demand' %}">Создать потребность</a>

        <hr>

        <ul>
            {% for real_estate in real_estates %}
                <form action="{% url 'profile' %}" method="post">
                    {% csrf_token %}
                    
                    <input name="id" type="text" value="{{real_estate.id}}" style="visibility: hidden;">

                    <input name="heading" type="text" value="{{real_estate.heading}}">

                    {% if real_estate.type %}
                        <p>Тип</p>
                        <input name="type" type="text" value="{{real_estate.type}}">
                    {% endif %}

                    {% if real_estate.city %}
                        <p>Город</p>
                        <input name="city" type="text" value="{{real_estate.city}}">
                    {% endif %}

                    {% if real_estate.street %}
                        <p>Улица</p>
                        <input name="street" type="text" value="{{real_estate.street}}">
                    {% endif %}

                    {% if real_estate.house_number %}
                        <p>Номер дома</p>
                        <input name="house_number" type="text" value="{{real_estate.house_number}}">
                    {% endif %}

                    {% if real_estate.apartment_number %}
                        <p>Номер квартиры</p>
                        <input name="apartment_number" type="text" value="{{real_estate.apartment_number}}">
                    {% endif %}

                    {% if real_estate.latitude %}
                        <p>Широта</p>
                        <input name="latitude" type="text" value="{{real_estate.latitude}}">
                    {% endif %}

                    {% if real_estate.longitude %}
                        <p>Долгота</p>
                        <input name="longitude" type="text" value="{{real_estate.longitude}}">
                    {% endif %}

                    {% if real_estate.floor %}
                        <p>Этаж</p>
                        <input name="floor" type="text" value="{{real_estate.floor}}">
                    {% endif %}

                    {% if real_estate.number_of_floors %}
                        <p>Этажность</p>
                        <input name="number_of_floors" type="text" value="{{real_estate.number_of_floors}}">
                    {% endif %}

                    {% if real_estate.number_of_rooms %}
                        <p>Количество комнат</p>
                        <input name="number_of_rooms" type="text" value="{{real_estate.number_of_rooms}}">
                    {% endif %}

                    {% if real_estate.square %}
                        <p>Площадь</p>
                        <input name="square" type="text" value="{{real_estate.square}}">
                    {% endif %}

                    <button type="submit" name="action" value="change_real_estate">Сохранить изменения</button>
                </form>

                <hr>
            {% empty %}
                <p>недвижимость пока не добавлена</p>
            {% endfor %}
            
        </ul>
    </div>


    <hr>


    <div>
        <h2 class="heading__profile">Мои предложения</h2>

        <hr>

        <ul>
            {% for offer in offers %}
                <form action="{% url 'profile' %}" method="post">
                    {% csrf_token %}

                    <input name="id" type="text" value="{{offer.id}}" style="visibility: hidden;">

                    {% if offer.price %}
                        <p>Цена</p>
                        <input name="price" type="text" value="{{offer.price}}">
                    {% endif %}

                    {% if offer.real_estate_id %}
                        <p>Изменить недвижимость на :</p>
                        <select name="select-real-estates" id="select-real-estates">
                            {% for real_estate in real_estates %}
                                {% if offer.real_estate.heading == real_estate.heading %}
                                    <option value="{{real_estate.id}}" selected="selected">
                                        {{real_estate.heading}}
                                    </option>
                                {% else %}
                                    <option value="{{real_estate.id}}">
                                        {{real_estate.heading}}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    {% endif %}


                    {% if offer.real_estate_id %}
                        <p>Изменить риэлтора на :</p>
                        <select name="select-realtor" id="select-realtor">
                            {% for realtor in realtors %}
                                {% if offer.rieltor.nickname == realtor.nickname %}
                                    <option value="{{realtor.id}}" selected="selected">
                                        {{realtor.nickname}}
                                    </option>
                                {% else %}
                                    <option value="{{realtor.id}}">
                                        {{realtor.nickname}}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    {% endif %}

                    <button type="submit" name="action" value="change_offer">Сохранить изменения</button>
                </form>

                <hr>
            {% empty %}
                <p>У вас пока нет предложений</p>
            {% endfor %}
            
        </ul>
    </div>

    
    <hr>


    <div>
        <h2 class="heading__profile">Мои потребности</h2>

        <hr>

        <ul>
            {% for demand in demands %}
                <form action="{% url 'profile' %}" method="post">
                    {% csrf_token %}

                    <input name="id" type="text" value="{{demand.id}}" style="visibility: hidden;">

                    {% if demand.rieltor %}
                        <p>Риэлтор</p>
                        <input name="realtor" type="text" value="{{demand.rieltor.nickname}}">
                    {% endif %}

                    {% if demand.type %}
                        <p>Тип недвижимости</p>
                        <input name="type" type="text" value="{{demand.type}}">
                    {% endif %}

                    {% if demand.address %}
                        <p>Адрес</p>
                        <input name="address" type="text" value="{{demand.address}}">
                    {% endif %}

                    {% if demand.min_price %}
                        <p>Мин цена</p>
                        <input name="min_price" type="text" value="{{demand.min_price}}">
                    {% endif %}

                    {% if demand.max_price %}
                        <p>Макс цена</p>
                        <input name="max_price" type="text" value="{{demand.max_price}}">
                    {% endif %}

                    {% if demand.min_square %}
                        <p>Мин площадь</p>
                        <input name="min_square" type="text" value="{{demand.min_square}}">
                    {% endif %}

                    {% if demand.max_square %}
                        <p>Макс площадь</p>
                        <input name="max_square" type="text" value="{{demand.max_square}}">
                    {% endif %}

                    {% if demand.min_number_of_rooms %}
                        <p>Мин количество комнат</p>
                        <input name="min_number_of_rooms" type="text" value="{{demand.min_number_of_rooms}}">
                    {% endif %}

                    {% if demand.max_number_of_rooms %}
                        <p>Макс количество комнат</p>
                        <input name="max_number_of_rooms" type="text" value="{{demand.max_number_of_rooms}}">
                    {% endif %}

                    {% if demand.min_floor %}
                        <p>Мин этаж</p>
                        <input name="min_floor" type="text" value="{{demand.min_floor}}">
                    {% endif %}

                    {% if demand.max_floor %}
                        <p>Макс этаж</p>
                        <input name="max_floor" type="text" value="{{demand.max_floor}}">
                    {% endif %}

                    {% if demand.min_number_of_floors %}
                        <p>Мин количество этажей</p>
                        <input name="min_number_of_floors" type="text" value="{{demand.min_number_of_floors}}">
                    {% endif %}

                    {% if demand.max_number_of_floors %}
                        <p>Макс количество этажей</p>
                        <input name="max_number_of_floors" type="text" value="{{demand.max_number_of_floors}}">
                    {% endif %}

                    <button type="submit" name="action" value="change_demand">Сохранить изменения</button>
                </form>

                <hr>
            {% empty %}
                <p>У вас пока нет потребностей</p>
            {% endfor %}
            
        </ul>
    </div>


    <script>
        document.getElementById('editUserBtn').addEventListener('click', function() {
            document.getElementById('editUserModal').style.display = 'block';
        });

        // Закрыть модальное окно
        document.getElementById('closeModal').addEventListener('click', function() {
            document.getElementById('editUserModal').style.display = 'none';
        });

    </script>


{% endblock %}