{% extends 'base.html' %}

{% load static %}

{% block style %}<link type="text/js" rel="stylesheet" href="{% static 'mainapp/static/css/styles.css' %}">{% endblock style %}

{% block content %}
    <h1>Создать недвижимость(выберите тип):</h1>
    


    <hr>

    <div> 
        <a href="{% url 'create_an_apartment'%}">
            Квартира
        </a>

        <hr>

        <a href="{% url 'create_a_house' %}">
            Дом
        </a>

        <hr>
        
        <a href="{% url 'create_land' %}">
            Земля
        </a>
    </div>

    <hr>

    

{% endblock %}

